<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManger.Properties.Settings.LearnDBConnectionString"
            connectionString="Data Source=MSI\NICOLESQL;Initial Catalog=LearnDB;User ID=sa;Password=123456;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>